@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1, h2, h3 {
  color: #383e56;
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  line-height: 32px;
}

body {
  background-color: #d3e0ea;
  color: #276678;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16pt;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #c15050;
}

a:hover {
  color: #00917c;
}

.profile-image {
  border-radius: 50%;
  width: 110;
  height: 100;
}

.card {
  background-color: white;
  padding: 64px;
  text-align: center;
  margin: 24px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inline-links {
    list-style: none;
    padding: 0;
  }

.inline-links li {
  display: inline-block;
}

.fab {
  font-size: 40px;
  padding: 16px;
}

@media (max-width: 960px) {
  .container {
  width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
