@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1, h2, h3 {
  color: #060606;
  font-family: 'Bangers', cursive;
  font-size: 32pt;
  font-kerning: 2
  line-height: 40px;

}

body {
background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #060606;
font-family: 'Raleway', sans-serif;
font-size: 16pt;
line-height: 24px;
}

a {
  color: #f64f59;
}

a:hover {
  color: #c471ed;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #060606;
  font-weight: lighter;
  text-decoration: none;
  line-height: px
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));}

.profile-image {
  width: 300;
  height: 300;
  position: relative;
}

.grid {
  background-color: #444;
  padding: 25px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.frame {
  grid-row-start: 4;
  grid-row-end: 5;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
}

.first {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 200px;
}

.second {
  grid-row-start: 3;
  grid-row-end: 6;
  height: 700px;
}

.third {
  grid-row-start: 6;
  grid-row-end: 7;
  height: 200px;
}

.card {
  background-color: white;
  padding: 24px;
  text-align: right;
  margin: 24px;
  border-radius: 4px;
  box-shadow: #000000 12px 12px 0px 0px;
}

.inline-links {
  list-style: none;
  padding: 0;
  }

.inline-links li {
  display: inline-block;
}

.fab {
  font-size: 40px;
  padding: 16px;
}

@media (max-width: 960px) {
  .container {
  width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
